body {
  background-color:#fcf8e6;
}
.navi ul{
  list-style: none;
  padding:0px;
  margin:0px;
  display: flex;
  background-color:#fff;
}

.navi li{
  margin-right:20px;
}

.navi a{
  text-decoration:none;
  color:#333;
  font-weight: bold;
  display:black;
  padding:10px 15px;
  font-size:20px;
}

.hedder-image{
  background-image: url("https://lh3.googleusercontent.com/d/1SKTSF_wK6XD3-PsEUvY9NSZZkowwVWc4");
  background-size:cover;
  background-position: center 10%;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.hedder-connect h1{
  font-size:3rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.member-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  padding:20px
}

.card {
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  padding:20px;
  width:200px;
  text-align:center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.member-p{
  padding-left:30px;
  padding-top:20px;
}
